<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thesis Manager</title>
	<meta charset="UTF-8">
	<style>
	textarea {
		margin-top: 30px;
 		resize: none;
 		display: block;
	}
	.button {
		background-color: cornflowerblue;
		color: white;
		width: 100px;
		margin-top: 15px;
	}
	.titleDiv {
  		height: 50px;
  		background-color: lightblue;
  		text-align: center;
  		font-style: italic;
	}
	.formDiv {
		text-align: center;
		width: 450px;
		height: 100%;
		margin: auto;
	}
	</style>
</head>
<body style="background-color: azure;">

	<div class="titleDiv">
		<h1>Application</h1>
	</div>
	
	<div class="formDiv">
		<form th:action="@{/student/post/back}" method="post">
		<button type="submit" class= "button" style="margin-top: 10px; background-color: gold;">Back</button>
		</form>
	</div>
	
	
	<div class="formDiv">
		<form th:action="@{/student/post/application/create(id=${param.id})}" th:object="${applicationDetails}" method="post">
			<textarea rows="5" cols="60" th:field="*{message}" placeholder="Describe yourself here..." />
			<button type="submit" class="button">Submit</button>
		</form>
	</div>
	
</body>