<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thesis Manager - Login</title>
	<meta charset="UTF-8">
	
	<style>
	.button {background-color: #e7e7e7;} 
	.titleDiv {
  		height: 50px;
  		background-color: lightblue;
  		text-align: center;
	}
	.messageDiv {
		height: 40px;
		text-align: center;
		color : red;
	}
	.elementDiv {
		height: 32px;
		text-align: right;
		margin-right: 75px;
		font-style: normal;
		font-family: Arial;
	}
	.formDiv {
		width: 400px;
		height: 120px;
		margin: auto;
	}
	</style>
</head>
<body style="background-color:lightgray;">
	<div class="titleDiv">
		<h1>Thesis Management for Students and Professors</h1>
	</div>
	
	<div class="messageDiv"></div>
	
	<div class="formDiv">
			<div class="elementDiv">
				<label for="loginUname">Username:  </label>
				<input type="text" id="username1" name="username1"><br><br>
			</div>
			<div class="elementDiv">
				<label for="loginPass">Password:  </label>
				<input type="text" id="password1" name="password1"><br><br>
				<button type="submit" class= "button"> Login</button>
			</div>
	</div>
	
	<div class="formDiv">
			<div class="elementDiv">
				<label for="regUname">Username:  </label>
				<input type="text" id="username2" name="username2"><br><br>
			</div>
			<div class="elementDiv">
				<label for="regPass1">Password:  </label>
				<input type="text" id="password3" name="password2"><br><br>
			</div>
			<div class="elementDiv">
				<label for="regPass2">Repeat Password:  </label>
				<input type="text" id="password3" name="password2"><br><br>
				<button type="submit" class= "button"> Submit</button>
			</div>
	</div>
	
</body>
</html>
