<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thesis Manager</title>
	<meta charset="UTF-8">
</head>

<body style="background-color:lightgray;">
	<div class="titleDiv">
		<h1>Change Password</h1>
	</div>

	<div class="formDiv">
		<form th:action="@{password}" th:object="${passwordData}" method="post">
			<div class="elementDiv">
				<input type="password" th:field="*{oldPassword}" placeholder="Type old password" required>
			</div>
			<div class="elementDiv">
				<input type="password" th:field="*{newPassword1}" placeholder="Type new password" required>
			</div>
			<div class="elementDiv">
				<input type="password" th:field="*{newPassword2}" placeholder="Repeat new password" required>
			</div>
		</form>
	</div>

</body>
</html>
