<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Professor Dashboard</title>
	<meta charset="UTF-8">
	
	<style>
	.titleDiv {
  		height: 50px;
  		text-align: center;
  		font-style: italic;
	}
	.formDiv {
		width: 300px;
		height: 100%;
		margin: auto;
	}
	.elementDiv {
		height: 32px;
		width: 300px;
		font-style: normal;
		font-family: Arial;
		display: flex;
	}
	.textDiv {
		text-align: left;
		height: 18px;
		width: 150px;
		padding: 7px;
	}
	.field {
		text-align: left;
		height: 18px;
		width: 150px;
		padding: 2px;
	}
	.inputField {
		border: 1px solid black;
	}
	</style>
</head>

<body style="background-color:lightgray;">
	<div class="titleDiv">
		<h1>Professor Dashboard</h1>
	</div>
	
	<div class="formDiv">
		<form th:action="@{/post/professor}" th:object="${professorDetails}" method="post">
			<div class="elementDiv">
				<label class="textDiv" for="username">Username:</label>
				<div class="field" id="username" sec:authentication="principal.username"></div>
			</div>
			<div class="elementDiv">
				<label class="textDiv" for="fullname">Full Name:</label>
				<input type="text" id="fullname" th:field="*{fullName}">
			</div>
			<div class="elementDiv">
				<label class="textDiv" for="specialty">Specialty:</label>
				<input type="text" id="specialty" th:field="*{specialty}">
			</div>
		</form>
	</div>
</body>
